/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

/* Layout sections */
header {
  background-color: #ccc;
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 1.8rem;
}

#menu-toggle {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

nav {
  background-color: #0077cc;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
nav li {
  margin: 0.5rem;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
nav.open ul {
  flex-direction: column;
}

/* Sections */
#section1, section{
  background-color: #8bc34a;
  padding: 2rem;
  margin: auto;
}

form fieldset {
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 1.5rem;
  align-items: center;
}

legend {
  font-weight: bold;
  font-size: 28px;
  color: black;
  padding: 0  0.5rem;
}

label {
 display: inline-block;
 margin-bottom: 0.5rem;
 font-weight: 600;
 font-size: 20px;
}

input, textarea {
  width: 30%;
  height: 40px;
  padding: 0.6rem;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

input:focus,  textarea:focus {
  border-color: #fff;
  outline: none;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.4);
}

textarea {
  resize: vertical;
  min-height: 80px;

}

.field1 {
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 100;
  display: flex;
  gap: 0.2rem;
}

.field1 label {
  flex:  0 0 150px;
  text-align: left;
}
#subBtn1 {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
  height: 30px;
  align-self: center;
  margin-bottom: 0.2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  display: block;
  padding: 0.2rem;
  background-color: grey;
}

.records-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.donation-card {
  border: 1px solid #ddd;
  background: #fafafa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 0 1 280px;
  border-left: 4px solid #3b82f6;
  padding: .8rem 1rem;
  border-radius: 4px;
}

.donation-card h3 {
  margin-top: 0;
  font-size: 1.2rem;
}

.card-field {
  margin: 5px 0;
}

.card-label {
  font-weight: bold;
}

.delete-btn {
  background: #d9534f;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #c9302c;
}

footer {
  background-color: #ccc;
  padding: 1rem;
  text-align: center;
}

/* Mobile styles */
@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    background-color: #0077cc;
  }
  nav.open ul {
    display: flex;
  }
  #menu-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}