
#volunteer_main {
    background-color:#f9f9f9; 
    color: white; 
    padding: 20px; 
    text-align: center; 
    font-family: 'Arial', sans-serif; 
}
#section2 { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px; 
    color: #333;
}
#section2 h2 { 

    font-family: 'Arial', sans-serif;
    margin-bottom: 10px; 
}
#section2 p { 
    font-size: 16px; 
    line-height: 1.5; 
}
label {
    font-family: 'Arial', sans-serif; 
    font-size: 16px; 
    margin-top: 10px; 
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 5px;

}

#submit-button {
    width: 100%;
    background-color:#333; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer;
    font-size: 16px;

}
#submit-button:hover {
    background-color: #555; 
}
#submit-button:active {
    background-color: #111; 
}
input[type="text"], input[type="email"], textarea {
    width: 100%; 
    padding: 10px; 
    margin: 8px 0; 
    box-sizing: border-box; 
    border: 2px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px;
}
input[type="date"], input[type="number"] {
    width: 100%; 
    padding: 10px; 
    margin: 8px 0; 
    box-sizing: border-box; 
    border: 2px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px;
}
label {
    font-weight: bold; 
    display: block; 
    margin-top: 10px; 
}
form {
    max-width: 600px; 
    margin: auto; 
}
#form-section {
    padding: 20px; 
    background-color: #f9f9f9; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
#form-section h2 {
    font-family: 'Arial', sans-serif; 
    margin-bottom: 15px; 
}